body{
    background-color: black;
}

.cabecalho .corFundo{
    background-color: black;
    width: fit-content;
}

.cabecalho{
    height: 90px;
}

.conteudoPrincipal .tituloDestaque{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}

.conteudoPrincipal .galeriaImagens{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.card-body{
    background-color: rgb(75, 75, 230);
    color: white;
}

.text-center {
    color: white;
}

.button{
    background-color: black;
    color: white;
    font-size: 10px;
}