header {
    background-color: #4C4AB9;
    margin: 0%;
    padding: 0%;
}
header nav #login, #menu{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#logo{
    width: 8%;
    height: 300px;
    float: left;
    margin: 0%;
    padding: 0%;
}

#login{
    height: 30px;
    width: 90px;
    float: left;
    margin: 0%;
    padding: 0%;
}
#menu{
    text-align: end;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
a{
    color: white;
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
footer{
    background-color: #4C4AB9;
    border: none;
}
ol{
    float:right;
    color: white;
}
footer .div .img{
    float:left;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}
