 body{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 

.cabecalho{
    background-color: #4C4AB9;
    display: flex;
}
header{
    background-color: #4C4AB9;
    height: 120px;
}

header .logo-marca img {
    width: 5%;
    height: 10%;
}

header .logo-marca img .titulo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

nav a{
    color:white !important;
}

.navbar {
    background-color: #4C4AB9 !important;
}

.roxo{
    background-color: #4C4AB9;
}

.roxo a:hover{
    background-color: #353488;
}

main h1{
    text-align: center;
    color: white;
}

main h2{
    color: white;
}

main .imagem1 p {
    color: white;
}

main .imagem2 p {
    color: white;
}

main .imagem3 p {
    color: white;
}
footer{
    background-color: #4C4AB9;
    color: white;
}
.carousel{
    margin: 60px;
    height: 20%;
    display: flex;
}
.navbar-toggler-icon {
    color: rgb(76, 0, 255);
}